<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plug/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/kuding.css">
</head>
<body style="background:#31b0d5">
<p style="text-align: center;font-size: 30px;color:whitesmoke;margin-top: 5%">酷丁考试平台</p>
<div class="container">
    <div class="row" style="text-align: center;margin-top: 10%">
            <div class="test_div">1</div>
            <div class="test_div">2</div>
            <div class="test_div">3</div>
    </div>
</div>
</body>
</html>